/*Desktop e Laptop */
/*@media only screen and (min-width : 1224px) { */

    /*body{
        padding: 0px;
        margin: 0px;
    }*/

    body{
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: center; 
        background-size: cover;
    }

    #headerGallery{
        height: 350px;
        background-color: greenyellow;

        /*background-image: url("../img/overview1.jpg");*/
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        top: 0px;
        
    }

    #logohome{
        z-index: 2;
        position: absolute;
        margin-top: -150px;
        
    }

    @media screen and (max-width: 990px){
        #navbar-link{
            padding-left:5px;
            padding-right:5px;
        }
    }

    #logohomesmall{
        z-index: 2;
        position: absolute;
        margin-top: -50px;
        margin-left: -10px;
        
    }

    .carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
		margin: auto;
    }

    /*
    #logo{
        in altri schermi bisogna impostare 
        vertical-align: top;
        display: inline-block;
        
    }*/


   /* table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    
    td{
        width: 5%;
        vertical-align: top;
    }

    #map-canvas{
        height: 300px;
        width: 600px;
        display: inline-block;
        margin-left: 25px;
    }
    .content{
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .homecontent{
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .info{
        vertical-align: top;
        display: inline-block;
    }

    #address{
        con cambio schermo allinearli a fianco
        margin-bottom: 40%;
    }
    #overview{
        text-align: center;
    }
    text area della form di homepage
    .scrollabletextarea{
        font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
        font-size: 82%;
        overflow-y: scroll;
        resize: none;
        height: 50px;
    }

}*/