/*        Index Only       */
#banner{
    width: 100%;
}

@media screen and (min-width: 1200px){
    #logohome{
        z-index: 2;
        position: absolute;
        margin-top: -150px;

    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    #logohomesmall{
        z-index: 2;
        position: absolute;
        margin-top: -50px;
        margin-left: 20px;

    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    #logohomesmall{
        z-index: 2;
        position: absolute;
        margin-top: 5px;
        margin-left: -10px;

    }
}

#indexTable{
    padding: 15px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
}


/*             For all pages            */
html{
    min-height: 100%;
}

body{
    min-height: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center; 
    background-size: cover;
}

#content{
    min-height: 100%;
    background-color: rgba(210, 105, 30, 0.44);
    padding-bottom: 1px;

}


#wrapper{
    min-height: 100%;
    padding-bottom: 1px;
}

#logo{
    z-index: 2;
    position: absolute;
    margin-top: -20px;

}

@media screen and (min-width: 768px) and (max-width: 991px){
    #logo{
        z-index: 2;
        position: absolute;
        margin-top: 5px;
        margin-left: -10px;

    }
}

@media screen and (max-width: 991px){
    .navbar-brand{
        padding-top: 0px;
    }
}

@media screen and (max-width: 991px){
    #navbar-link{
        padding-left:5px;
        padding-right:5px;
    }
}

.navbar{
    margin-bottom: 0px;
}

#title{
    margin-bottom: 10px;
}


/*    Location    */

#info{
    margin-bottom: 15px;
}

@media screen and (min-width: 992px){
    #address{
        margin-bottom: 40%;
    }
}


@media screen and (max-width: 991px){
    #address{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 991px){
    #numbers{
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 992px){
    #map-container{
        margin-left: -40px;
        min-height: 300px;
    }
}

@media screen and (max-width: 991px){
    #map-container{
        margin-left: 40px;
        margin-right: 40px;
        min-height: 150px;
    }
}
