body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center; 
    background-size: cover;
}

#wrapper{
    
}

#headerGallery{
    height: 350px;
    background-color: greenyellow;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    top: 0px;

}

#banner{
    width: 100%;
}

@media screen and (min-width: 1200px){
    #logohome{
        z-index: 2;
        position: absolute;
        margin-top: -150px;

    }
}

@media screen and (min-width: 991px) and (max-width: 1199px){
    #logohomesmall{
        z-index: 2;
        position: absolute;
        margin-top: -50px;
        margin-left: -10px;

    }
}

@media screen and (max-width: 990px){
    #logohomesmall{
        z-index: 2;
        position: absolute;
        margin-top: -25px;
        margin-left: -10px;

    }
}

#logohomeoval{
    z-index: 2;
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;

}

#logo{
    z-index: 2;
    position: absolute;
    margin-top: -20px;

}

@media screen and (max-width: 990px){
    #navbar-link{
        padding-left:5px;
        padding-right:5px;
    }
}


.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
    margin: auto;
}

#map-canvas{
    height: 300px;
    width: 600px;
    display: inline-block;
    margin-left: 25px;
}

#content{
    background-color: rgba(210, 105, 30, 0.44);
    padding-bottom: 1px;
    min-height: 100%;
}

.navbar{
    margin-bottom: 0px;
}

@media screen and (min-width: 990px){
    #address{
        margin-bottom: 40%;
    }
}

@media screen and (max-width: 990px){
    #address{
        margin-right: 40%;
    }
}

#indexTable{
    padding: 15px;
}